<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style/layout.css" />
    <link rel="stylesheet" href="../assets/style/reset.css" />
    <link rel="stylesheet" href="../assets/style/font.css" />
    <title>header</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header-content">
          <div class="bar"><i class="fa-solid fa-bars"></i></div>
          <a class="logo" href="/"
            ><img src="../assets/image/svg-image.png" alt="로고"
          /></a>

          <div class="header-area1">
            <a href="">커뮤니티</a>
            <a href="">쇼핑</a>
            <a href="">이사/시공/수리</a>
          </div>
          <div class="header-area2">
            <div class="input-area">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
              <input type="text" placeholder="통합검색" />
            </div>

            <button class="cart-area">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <div class="login-area">
              <a href="../page/auth/login.html">로그인</a>
              <a href="../page/auth/register.html">회원가입</a>
              <a href="">고객센터</a>
            </div>
            <button class="writing-button">
              <p>글쓰기</p>
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </div>
        </div>
      </div>
      <nav>
        <div class="nav-container">
          <div class="nav-content">
            <div class="nav-menu">
              <div><a href="">홈</a></div>
              <div><a href="">추천</a></div>
              <div><a href="">집들이</a></div>
              <div><a href="">집사진</a></div>
              <div><a href="">살림수납</a></div>
              <div><a href="">홈스토랑</a></div>
              <div><a href="">취미일상</a></div>
              <div><a href="">3D인테리어</a></div>
              <div><a href="">이벤트</a></div>
            </div>
            <div class="nav-search">
              <div class="ani-container">
                <div class="ani-area1">
                  <div class="num-area"><span class="num">1</span></div>
                  <div class="ic-area">
                    <i class="fa-solid fa-caret-up"></i>
                  </div>
                  <p>집들이</p>
                </div>
                <div class="ani-area2">
                  <div class="num-area"><span class="num">2</span></div>
                  <div class="ic-area">
                    <i class="fa-solid fa-caret-up"></i>
                  </div>
                  <p>작업실</p>
                </div>
              </div>
              <button class="ani-btn">
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="re-nav">
          <div class="re-nav-content">
            <div class="re-nav-wrap">
              <div class="re-nav-area">
                <nav class="nav-padding">
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>홈</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>추천</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>#채널</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>집들이</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>집사진</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>3D인테리어</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>살림수납</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>콜렉터블</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>홈스토랑</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>핫플레이스</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>육아</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>플랜테리어</p>
                        </div>
                      </a>
                    </div>
                  </span>

                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>반려동물</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>캠핑</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>취미</p>
                        </div>
                      </a>
                    </div>
                  </span>
                  <span class="nav-margin">
                    <div class="nav-height">
                      <a href="">
                        <div>
                          <p>이벤트</p>
                        </div>
                      </a>
                    </div>
                  </span>
                </nav>
                <span class="btn-area">
                  <button class="btn-wrap">
                    <span class="nav-tab-btn"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="tab-content">
      <div class="tab-wrap">
        <div class="tab-area"></div>
        <div class="title">
          <span>탭 선택하기</span>
          <button>&times;</button>
        </div>
        <div class="menu-area">
          <div class="menu-list">
            <span><a href="">홈</a></span>
            <span><a href="">추천</a></span>
            <span><a href="">#채널</a></span>
            <span><a href="">집들이</a></span>
            <span><a href="">집사진</a></span>
            <span><a href="">3D인테리어</a></span>
            <span><a href="">살림수납</a></span>
            <span><a href="">콜렉터블</a></span>
            <span><a href="">홈스토랑</a></span>
            <span><a href="">핫플레이스</a></span>
            <span><a href="">육아</a></span>
            <span><a href="">플랜테리어</a></span>
            <span><a href="">반려동물</a></span>
            <span><a href="">캠핑</a></span>
            <span><a href="">취미</a></span>
            <span><a href="">이벤트</a></span>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/tab.js"></script>
    <script
      src="https://kit.fontawesome.com/11c4b226a9.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
