<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script
      src="https://kit.fontawesome.com/11c4b226a9.js"
      crossorigin="anonymous"
    ></script>

   
   <link rel="stylesheet" href="../assets/style/layout.css" />
    <title>header</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header-content">
          <div class="bar"><i class="fa-solid fa-bars"></i></div>
          <a class="logo" href="/"
            ><img src="./assets/image/svg-image.png" alt="로고"
          /></a>

          <div class="header-area1">
            <a href="">커뮤니티</a>
            <a href="">쇼핑</a>
            <a href="">이사/시공/수리</a>
          </div>
          <div class="header-area2">
            <div class="input-area">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
              <input type="text" placeholder="통합검색" />
            </div>

            <button class="cart-area">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <div class="login-area">
              <a href="./page/auth/login.html">로그인</a>
              <a href="./page/auth/register.html">회원가입</a>
              <a href="">고객센터</a>
            </div>
            <button class="writing-button">
              <p>글쓰기</p>
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </div>
        </div>
      </div>
      <nav>
        <div class="nav-container">
          <div class="nav-content">
            <div class="nav-menu">
              <div><a href="">홈</a></div>
              <div><a href="">추천</a></div>
              <div><a href="">집들이</a></div>
              <div><a href="">집사진</a></div>
              <div><a href="">살림수납</a></div>
              <div><a href="">홈스토랑</a></div>
              <div><a href="">취미일상</a></div>
              <div><a href="">3D인테리어</a></div>
              <div><a href="">이벤트</a></div>
            </div>
            <div class="nav-search">
              <div class="ani-container">
                <div class="ani-area1">
                  <div class="num-area"><span class="num">1</span></div>
                  <div class="ic-area">
                    <i class="fa-solid fa-caret-up"></i>
                  </div>
                  <p>집들이</p>
                </div>
                <div class="ani-area2">
                  <div class="num-area"><span class="num">2</span></div>
                  <div class="ic-area">
                    <i class="fa-solid fa-caret-up"></i>
                  </div>
                  <p>작업실</p>
                </div>
                <div class="ani-area3">
                  <div class="num-area"><span class="num">3</span></div>
                  <div class="ic-area"><span class="new">new</span></div>
                  <p>센서 휴지통</p>
                </div>
              </div>
              <button class="ani-btn">
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
  </body>
</html>
