<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
/>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<!-- sliding jquery -->
<script src="./js/custom.js"></script>
  <link rel="stylesheet" href="../assets/style/layout.css">
  <title>section</title>
</head>
<body>
  <section>
    <div class="main-page">
      <div class="main-img">
        <img src="/assets/image/165735732407572402.jpeg" alt="">
        <p>상반기 결산🚩 데스크테리어 꿀템 TOP 7</p>
        <div>
          <img src="/assets/image/icon.avif" alt="">
          <p>오늘의집 에디터</p>
        </div>
      </div>
      <div class="main-slick">
        <img src="/assets/image/slick1.png" alt="">
        <img src="/assets/image/slick2.png" alt="">
        <img src="/assets/image/slick3.jpeg" alt="">
        <img src="/assets/image/slick4.jpeg" alt="">
        <img src="/assets/image/slick5.png" alt="">
        <img src="/assets/image/slick6.jpeg" alt="">
        <img src="/assets/image/slick7.jpg" alt="">
        <img src="/assets/image/slick8.png" alt="">
        <img src="/assets/image/slick9.png" alt="">
        <img src="/assets/image/slick10.jpg" alt="">
        <img src="/assets/image/slick11.png" alt="">
        <img src="/assets/image/slick12.png" alt="">
        <img src="/assets/image/slick13.jpg" alt="">
        <img src="/assets/image/slick14.png" alt="">
      </div>
    </div>
  </section>
  
</body>
</html>