/* join membership page */

.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.5rem 0;
  font-family: "noto-sans-kr";
}

.join-container .logo {
  font-size: 1.5rem;
  width: 100%;
}
.join-container .join-wrap {
  width: 36rem;
  padding: 6rem 0;
  margin: 0 28.5rem;
}
.join-container .join-wrap .join-area h1 {
  font-size: 2rem;
  font-weight: 700;
}
.join-container .join-wrap .join-area .sns-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 3rem 0;
  border-bottom: 1px solid rgb(237, 237, 237);
}
.join-container .join-wrap .join-area .sns-area p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  color: rgb(117, 117, 117);
}
.join-container .join-wrap .join-area .sns-area .icon-area {
  display: flex;
  
}
.join-container .join-wrap .join-area .sns-area .icon-area a {
  margin: 0 1rem;
}
.join-container .join-wrap .email-area {
  
  padding: 3rem 0;
}
.join-container .join-wrap .email-area label {
  display: flex;
  font-size: 1.6rem;
  margin: 0 0 1.2rem;
}
.join-container .join-wrap .email-area .email-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join-container .join-wrap .email-area .email-text input {
  width: 17rem;
  height: 4rem;
  padding: 0 1.5rem;
  
}
.join-container .join-wrap .email-area .email-text input:hover {
  background-color: #fafafa;
}
.join-container .join-wrap .email-area .email-text span {
  font-size: 1.5rem;
  color: #dbdbdb;
  
}
.join-container .join-wrap .email-area .email-text .select {
  display: flex;
  position: relative;
}
.join-container .join-wrap .email-area .email-text .select i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  
}
.join-container .join-wrap .email-area .email-text select {
  
  appearance: none;
  width: 17rem;
  height: 4rem;
  padding: 0 1.5rem;
}

.join-container .join-wrap .email-area button {
  width: 36rem;
  height: 5rem;
  background-color: rgb(247, 248, 250);
  color: rgb(194, 200, 204);
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px;
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
}
.join-container .join-wrap .password-area .pw-area-input label {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.join-container .join-wrap .password-area .pw-area-input p {
  color: rgb(130, 140, 148);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.join-container .join-wrap .password-area .pw-area-input input {
  width: 36rem;
  height: 4rem;
  padding: 8px 15px 9px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #dbdbdb;
  border-radius: 4px;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.join-container .join-wrap .password-area .pw-area-input:nth-of-type(2) input {
  background-color: #fafafa;
}
.join-container .join-wrap .password-area .pw-area-input input:hover {
  background-color: #fafafa;
}
.join-container .join-wrap .password-area .password-confirm-area label {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.join-container .join-wrap .password-area .password-confirm-area input {
  width: 36rem;
  height: 4rem;
  padding: 8px 15px 9px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  color: #dbdbdb;
  border-radius: 4px;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.join-container .join-wrap .agreement-area label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
}
.join-container .join-wrap .agreement-area label p {
  margin-left: 6px;
}

.join-container .join-wrap .join-btn {
  width: 36rem;
  height: 5rem;
  background-color: #35c5f0;
  color: #fff;
  padding: 11px 10px;
  border-radius: 4px;
  
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.join-container .join-wrap .join-btn:hover {
  background-color: #09addb;
}
.join-container .join-wrap .id-check {
  text-align: center;
  font-size: 1.5rem;
}
.join-container .join-wrap .id-check a {
  margin-left: 1rem;
  text-decoration: underline;
  font-weight: 700;
}
.join-container .join-wrap .id-check a:hover {
  opacity: 0.7;
}
.join-container .join-wrap .agreement-area .agreement-area-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.join-container .join-wrap .agreement-area .check_input-area {
  
  width: 100%;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #EAEDEF;
  margin-bottom: 30px;
}
.join-container .join-wrap .agreement-area .check_input-area label {
  display: flex;
  position: relative;
}
.check_input {
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid gray;
  opacity: 70%;
  border-radius: 2px;
  position: relative;
}
.check_input:hover {
  background-color: #bfc6cb;
}

.check_input:checked {
  background-color: rgb(53, 197, 240);
  border: rgb(53, 197, 240);
  
}
.check_input:checked::after {
  content:"\f00c";
  font-family:"Font Awesome 5 free";
  font-weight:900;
  color:#fff;
  background-color:rgb(53, 197, 240);
  position: absolute;
  font-size:13px;
  top: 17%;
  left: 50%;
  transform: translate(-50%);
}



.join-container .join-wrap .agreement-area .check_input-area label .the-entire {
  font-size: 1.4rem;
  font-weight: 700;
}
.join-container .join-wrap .agreement-area .check_input-area label:nth-of-type(1) p:nth-of-type(2) {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #828C94;
}
.join-container .join-wrap .agreement-area .check_input-area label:nth-of-type(1) {
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #EAEDEF;;
}
.join-container .join-wrap .agreement-area .check_input-area label .check_input-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: #2F3438;
}
.join-container .join-wrap .agreement-area .check_input-area label:nth-of-type(2) span,
.join-container .join-wrap .agreement-area .check_input-area label:nth-of-type(3) span,
.join-container .join-wrap .agreement-area .check_input-area label:nth-of-type(4) span {
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  color: #009FCE;
}
.join-container .join-wrap .agreement-area .check_input-area label:nth-of-type(5) span,
.join-container .join-wrap .agreement-area .check_input-area label:nth-of-type(6) span {
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  color: #828C94;
}
.join-container .join-wrap .agreement-area .check_input-area label i {
  position: absolute;
  right: 1px;
  top: 1px;
}
.join-container .join-wrap .agreement-area .check_input-area label:nth-of-type(6) {
  margin-bottom: 0;
  
}

.header-container {
  border-bottom: 1px solid #828c9440;
}
.reset-pw-area {
  font-family: "noto-sans-kr";
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  margin: 40px auto 0px;
  padding: 0px 16px;
}
.reset-pw-area p {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  
}
.reset-pw-area .input-area {
  border: 1px solid rgb(219, 219, 219);
  padding: 6px 16px;
  margin: 0px 0px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reset-pw-area .input-area input {
  border: none;
  width: 100%;
  font-size: 1.5rem;
  opacity: 50%;
}
.reset-pw-area .input-area button {
  padding: 7px 10px;
  background-color: #a3e4f8;
  border-color: #a3e4f8;
  color: #e5f9ff;
  font-size: 1.4rem;
  height: 3.1rem;
  border-radius: 4px;
  white-space: pre;
  
}
.reset-pw-area .e-mail-btn {
  background-color: #c7effb;
  border-color: #c7effb;
  color: #fff;
  height: 5rem;
  font-size: 1.7rem;
  padding: 1.5rem 1rem;
  font-weight: 700;
  border-radius: 4px;
}
.reset-pw-area .customer-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 248, 250);
  width: 100%;
  height: 7.2rem;
  margin-top: 2.8rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
.reset-pw-area .customer-service a {
  color: rgb(53, 197, 240);
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}