@charset 'UTF-8';

/* header */

header {
  font-family: "Noto Sans KR";
}
.header-container .header-content {
  display: flex;
  align-items: center;
  max-width: 1256px;
  margin: 0 auto;
  padding: 2rem 6rem;
  box-sizing: border-box;
}
.header-container {
  position: sticky;
  background-color: #fff;
}
.header-container .header-content .bar {
  display: none;
}
.header-content .logo {
  margin-right: 3.5rem;
  width: 7.4rem;
}
.header-content .logo img {
  height: 2.6rem;
}
.header-content .header-area1 {
  display: flex;
}
.header-content .header-area1 a {
  display: block;
  padding: 0 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(47, 52, 56);
}
.header-content .header-area1 a:nth-of-type(1) {
  color: #35c5f0;
}
.header-content .header-area1 a:hover {
  color: #35c5f0;
}
.header-content .header-area2 {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-left: auto;
}
.header-content .header-area2 .input-area {
  display: flex;
  align-items: center;
  width: 30rem;
  height: 4rem;
  font-size: 1.4rem;
  border: 1px solid #dadde0;
  border-radius: 5px;
  padding: 0 1rem;
  padding-right: 2rem;
}
.header-content .header-area2 .input-area:hover {
  background-color: #f7f9fa;
}
.header-content .header-area2 .input-area i {
  font-size: 1.7rem;
  color: #828c94;
}
.header-content .header-area2 .input-area input {
  padding-left: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: #2f3438;
  border: none;
  background-color: transparent;
}
.header-content .header-area2 .cart-area i {
  padding-left: 1.5rem;
  font-size: 1.8rem;
  color: #828c94;
}

.header-content .header-area2 .login-area {
  display: flex;
  padding: 0 2rem;
}

.header-content .header-area2 .login-area a {
  display: flex;
  align-items: center;
}
.header-content .header-area2 .login-area a::after {
  content: "";
  display: inline-block;
  background-color: #2f3438;
  height: 1rem;
  width: 0.1rem;
  margin: 1rem;
}
.header-content .header-area2 .login-area a:nth-of-type(3)::after {
  display: none;
}

.header-content .header-area2 .writing-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 4rem;
  background-color: #35c5f0;
  border-radius: 5px;
  font-size: 1.4rem;
}
.header-content .header-area2 .writing-button:hover {
  background-color: #009fce;
}
.header-content .header-area2 .writing-button p {
  padding: 0;
  margin-right: 1rem;
  color: white;
}
.header-content .header-area2 .writing-button i {
  color: white;
}

@media screen and (max-width: 1255px) {
  .header-content .header-area2 .login-area a:nth-of-type(3) {
    display: none;
  }
  .header-content .header-area2 .login-area a:nth-of-type(2)::after {
    display: none;
  }
  .header-content .header-area2 .input-area {
    width: 20rem;
  }
  .header-content .header-area1 a {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .header-container .header-content {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 767px) {
  .header-container .header-content .logo img {
    margin-right: 0;
  }
}
/* nav */
.nav-container {
  width: 100%;
  height: 5rem;
  border-top: 1px solid #eaedef;
  border-bottom: 1px solid #eaedef;
}
.nav-container .nav-content {
  max-width: 1256px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  margin: 0 auto;
  font-family: "noto-sans-kr";
  position: relative;
  overflow: hidden;
  flex: 1 0 0px;
}
.nav-container .nav-content .nav-menu {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  justify-content: start;
}
.nav-container .nav-content .nav-menu div {
  padding: 1.2rem 1.1rem;
  white-space: nowrap;
  position: relative;
}
.nav-container .nav-content .nav-menu div:nth-of-type(1) {
  color: #35c5f0;
}
.nav-container .nav-content .nav-menu div:nth-of-type(1)::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: rgb(53, 197, 240);
  transition: transform 0.2s ease 0s;
  transform: scale(1);
}

.nav-container .nav-content .nav-menu div:hover {
  color: #35c5f0;
}

.nav-container .nav-content .nav-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
}
.nav-container .nav-content .nav-search .ani-container {
  margin-right: 4rem;
  height: 5rem;
  overflow: hidden;
  background-color: #fff;
}
.nav-container .nav-content .nav-search .ani-container .ani-area1 {
  display: flex;
  align-items: center;
  height: 5rem;
  animation: search 10s infinite;
}
.nav-container .nav-content .nav-search .ani-container .ani-area2 {
  display: flex;
  align-items: center;
  height: 5rem;
  animation: search2 10s infinite;
}

.nav-container .nav-content .nav-search .ani-container .num-area {
  position: relative;
  width: 2rem;
  height: 100%;
}
.nav-container .nav-content .nav-search .ani-container .num {
  font-size: 1.6rem;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.nav-container .nav-content .nav-search .ani-container p {
  font-size: 1.6rem;
  margin-left: 1rem;
}
.nav-container .nav-content .nav-search .ani-container .ic-area {
  width: 2.4rem;
  height: 100%;
  position: relative;
}
.nav-container .nav-content .nav-search .ani-container .fa-solid.fa-caret-up {
  display: flex;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.nav-container .nav-content .nav-search .ani-container .new {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  position: absolute;
  color: red;
  font-size: 8px;
}
.nav-search .ani-btn {
  color: rgb(130, 140, 148);
}

@keyframes search {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, -50px, 0);
  }
  40.5% {
    transform: translate3d(0, 50px, 0);
  }
  60% {
    transform: translate3d(0, 50px, 0);
  }
  80% {
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes search2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, -50px, 0);
  }
  60% {
    transform: translate3d(0, -50px, 0);
  }
  80% {
    transform: translate3d(0, -100px, 0);
  }
  80.5% {
    transform: translate3d(0, 0px, 0);
  }
}

.re-nav {
  display: none;
  height: 4.1rem;
}
.re-nav .re-nav-content {
  background: rgb(255, 255, 255);
  border-top: 1px solid rgb(234, 237, 239);
  border-bottom: 1px solid rgb(234, 237, 239);
}
.re-nav .re-nav-content .re-nav-wrap {
  padding: 0 1.6rem 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: initial;
}
.re-nav .re-nav-content .re-nav-wrap .re-nav-area {
  flex: 1 0 0px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.re-nav .re-nav-content .re-nav-wrap .re-nav-area .nav-padding {
  padding: 0 3.2rem 0 1.6rem;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  height: 4rem;
  margin: 0 -0.2rem;
}
.re-nav .nav-margin {
  margin: 0 0.2rem;
}

.re-nav .nav-margin a div {
  padding: 0.4rem;
}
.re-nav .nav-margin a p {
  padding: 0.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  position: relative;
}
.re-nav .nav-margin:nth-of-type(1) a p {
  color: rgb(53, 197, 240);
}
.re-nav .nav-margin:nth-of-type(1) a p::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.7rem;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(53, 197, 240);
  transition: transform 0.2s ease 0s;
  transform: scale(1);
}
.re-nav .btn-area .btn-wrap {
  padding: 0 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateX(-100%);
}
.re-nav .btn-area .btn-wrap .nav-tab-btn {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  color: rgb(47, 52, 56);
  z-index: 2;
}
.re-nav .btn-area .btn-wrap .nav-tab-btn::before {
  content: "";
  position: absolute;
  right: 1rem;
  top: 35%;
  width: 0.7rem;
  height: 0.7rem;
  border-right: 2px solid #111;
  border-bottom: 2px solid #111;
  transform: rotate(45deg);
  color: black;
  transition: 0.3s;
  vertical-align: top;
}
.re-nav .btn-area .btn-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 50%
  );
}
.tab-content {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1300;
  background-color: rgba(33, 38, 41, 0.5);
}
.tab-content::after {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.tab-content .tab-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  vertical-align: bottom;
  max-height: 90%;
  height: 45.5rem;
  transition: height 0.3s ease 0s;
  border-radius: 0.8rem;
  display: inline-flex;
  flex-direction: column;
  color: rgb(47, 52, 56);
  background-color: rgb(255, 255, 255);
}
.tab-content .tab-wrap .tab-area {
  width: 3.2rem;
  min-height: 0.4rem;
  border-radius: 0.2rem;
  background-color: rgb(234, 237, 239);
  margin: 6px auto 0px;
}

.tab-content .title {
  padding: 1.6rem 1.6rem 1rem;
  display: flex;
  align-items: center;
}
.tab-content .title span {
  font-size: 2rem;
  line-height: 2.8rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  text-align: center;
  width: calc(100% - 6.8rem);
  margin-left: 2.4rem;
  margin-right: 1rem;
}
.tab-content .title button {
  display: inline-block;
  font-size: 2.4rem;
  color: rgb(47, 52, 56);
}
.tab-content .menu-area {
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  word-break: break-all;
  overflow-y: auto;
  padding-bottom: 0.9rem;
}
.tab-content .menu-area .menu-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}
.tab-content .menu-area .menu-list span {
  height: inherit;
  display: block;
  flex-basis: 50%;
}
.tab-content .menu-area .menu-list span a {
  font-size: 1.5rem;
  line-height: 2.4rem;
  display: block;
  padding: 1rem 0 1rem 2.6rem;
  text-align: start;
  font-weight: 700;
}
.tab-content .menu-area .menu-list span:nth-of-type(1) a {
  color: rgb(53, 197, 240);
}
.tab-content .menu-area .menu-list span a:hover {
  color: rgb(53, 197, 240);
}

@media screen and (max-width: 1024px) {
  .nav-container .nav-content {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .nav-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }
  .nav-container .nav-content {
    justify-content: center;
    padding: 0 1.6rem;

    align-items: center;
  }
  .nav-container .nav-content .nav-menu {
    font-size: 1.4rem;
  }
  .nav-container .nav-content .nav-menu div {
    padding: 1.1rem 0.5rem;
  }
  .nav-container .nav-content .nav-search {
    display: none;
  }
  .nav-container .nav-content .nav-menu div:nth-of-type(1)::after {
    bottom: 4px;
  }
  .re-nav {
    display: block;
  }
  .tab-content {
    display: none;
  }
}

main {
  font-family: "noto-sans-kr";
}
/* main-section */
.main-sec {
  display: flex;
  padding: 0 6rem;
  max-width: 1256px;

  margin: 3rem auto 0;
}
.main-sec .main-img {
  flex: 1 1 84.7rem;
}
.main-sec .main-img .img-area {
  border-radius: 4px;
  position: relative;
  padding-top: 59.976387249114524%;
  overflow: hidden;
  font-size: 0;
}
.main-sec .main-img .img-area .img-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-sec .main-img .img-area .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease 0s;
}
.main-sec .main-img .img-area .img-box img:hover {
  transform: scale(1.05);
}
.main-sec .main-img .img-area .title-box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 3rem 3rem 3rem;
}

.main-sec .main-img .member {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.main-sec .main-img .member img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-right: 4px;
}
.main-sec .main-img .member p {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fff;
}
.main-sec .main-img .img-title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #fff;
  font-weight: 700;
}
.main-sec .main-slick {
  flex: 1 1 26.9rem;
  margin-left: 2rem;
  position: relative;
}

.main-sec .main-slick .slick-area {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.main-sec .main-slick .slick-area .slick-box {
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  height: 100%;
}
.main-sec .main-slick .slick-area .slick-box img {
  transition: transform 0.2s ease 0s;
}
.main-sec .main-slick .slick-area .slick-box img:hover {
  transform: scale(1.05);
}
.main-sec .main-slick .slick-area:hover .arrow-slider .prev {
  opacity: 1;
  transition: 0.3s ease;
}
.main-sec .main-slick .slick-area:hover .arrow-slider .next {
  opacity: 1;
  transition: 0.3s ease;
}
.main-sec .main-slick .arrow-slider .prev {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.main-sec .main-slick .arrow-slider .next {
  display: flex;
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.main-sec .main-slick .arrow-slider i {
  font-size: 2.4rem;
  color: #2f3438;
  line-height: 1;
}
.icon-container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 6rem;
}
.icon-container .icon-area {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 4rem 0;
}
.icon-container .icon-area .icon {
  text-align: center;
}

.icon-container .icon-area .icon img {
  max-width: 8.8rem;
  margin-bottom: 8px;
  max-width: 7.8rem;
}

.icon-container .icon-area .icon span {
  font-size: 1.6rem;
  color: #2f3438;
  line-height: 2rem;
}
.main-sec .main-slick- {
  display: none;
}
hr {
  display: none;
}
.arrow-btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .main-sec {
    padding: 0 4rem;
  }
  .icon-container {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .main-sec .main-img {
    display: none;
  }
  .main-sec {
    margin-top: 2rem;
    padding: 0 1.6rem;
    height: 100%;
  }

  .main-sec .main-slick {
    display: none;
  }
  .main-sec .main-slick- {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
  }
  .main-sec .main-slick- .slick-img- {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .main-sec .main-slick- .counter {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 0.6rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    border-top-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    background: rgba(33, 38, 41, 0.5);
  }
  .main-sec .main-slick- .counter span {
    font-size: 1.6rem;
    line-height: 1;
    margin-left: 2px;
  }
  .main-sec .main-slick- .slick-img- img {
    transition: transform 0.2s ease 0s;
  }
  .main-sec .main-slick- .slick-img- img:hover {
    transform: scale(1.05);
  }
  .icon-container {
    padding: 0 1.6rem;
  }
  .icon-container .icon-area {
    margin: 1.6rem 0 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .icon-container .icon-area .icon {
    display: flex;
    justify-content: center;
  }
  .icon-container .icon-area .icon span {
    margin-top: 0.6rem;
    font-size: 1.2rem;
  }
  .icon-container .icon-area .icon img {
    max-width: 7.8rem;
  }

  hr {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 10px;
    border: none;
    background-color: rgb(247, 249, 250);
  }
  .arrow-btn {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    color: rgb(47, 52, 56);
    cursor: pointer;
  }
  .see-more {
    display: none;
  }
}
/* space-img */
.space-li1 {
  max-width: 1256px;
  padding: 0 6rem;
  margin-bottom: 4rem;
  margin: 0 auto;
}
.space-li1 .space-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-top: 4rem;
}
.space-li1 .space-title .title {
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  font-size: 2rem;
  line-height: 2.8rem;
}
.space-li1 .space-title .see-more {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(53, 197, 240);
}
.space-li1 .img-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.space-li1 .img-list .img-area {
  position: relative;
  padding-bottom: 66.667%;
  overflow: hidden;
  border-radius: 4px;
}
.space-li1 .img-list .img-area .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.2s ease 0s;
}
.space-li1 .img-list .img-container .img-area a {
  position: absolute;
  padding: 0.8rem;
  right: 0;
  bottom: 0;
  width: 3.6rem;
  height: 3.6rem;
  filter: drop-shadow(rgba(63, 71, 77, 0.25) 0px 2px 5px);
}
.space-li1 .img-list .img-container:hover .img {
  transform: scale(1.05);
}
.space-li1 .img-list .img-container p {
  margin-top: 1rem;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(47, 52, 56);
  word-break: keep-all;
}
.space-li1 .img-list .img-container p span {
  color: rgb(53, 197, 240);
  font-weight: 700;
  margin-right: 5px;
}
hr {
  display: none;
}
.arrow-btn {
  display: none;
}
@media screen and (max-width: 1024px) {
  .space-li1 {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .space-li1 .space-title {
    margin-top: 0;
  }
  .space-li1 .img-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    margin-bottom: 2rem;
  }
  hr {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 10px;
    border: none;
    background-color: rgb(247, 249, 250);
  }
  .arrow-btn {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    color: rgb(47, 52, 56);
    cursor: pointer;
  }
  .see-more {
    display: none;
  }

  .space-li1 {
    padding: 0 1.6rem;
  }
  .space-li1 .img-list .img-area {
    padding-bottom: 100%;
  }
  .space-li1 .img-list .img-container .img-area img {
    width: 100%;
    height: auto 0;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s ease 0s;
  }
  .space-li1 .img-list .img-container:hover .img {
    transform: scale(1.05);
  }
}
/* category */
.category {
  max-width: 1256px;
  padding: 0 6rem;
  margin: 0 auto;
  position: relative;
}
.category .title {
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 28px;
  padding: 2rem 0;
  margin-top: 4rem;
}
.category .arrow-slider {
  position: absolute;
  width: 100%;
  top: 30%;
}

.category .arrow-slider .prev {
  display: flex;
  position: absolute;
  left: -2rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.category .arrow-slider .next {
  display: flex;
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  right: -2rem;
}
.category .arrow-slider i {
  font-size: 2.4rem;
  color: #2f3438;
  line-height: 1;
}
.category .category-list {
  display: flex;
  position: relative;
}
.category .category-list .img-slick {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.category .category-list .img-slick::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: -5px;
  background: linear-gradient(90deg, #ffffff00, #fff);
  width: 15rem;
  height: 100%;
}
.category .category-list .img-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category .category-list .img-area div {
  width: 7.2rem;
  height: 7.2rem;
  margin-bottom: 8px;
}
.category .category-list .img-area span {
  font-size: 14px;
  line-height: 18px;
  color: rgb(47, 52, 56);
}
hr {
  display: none;
}
@media screen and (max-width: 1024px) {
  .category {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .category {
    padding: 0 1.6rem 2rem;
  }
  .category .title {
    margin-top: 0;
  }
  .category .category-list .arrow-slider {
    display: none;
  }
  hr {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 10px;
    border: none;
    background-color: rgb(247, 249, 250);
  }
  .category .category-list .img-slick::after {
    display: none;
  }
}
/* today-deal */
.today-deal {
  max-width: 1256px;
  margin: 4rem auto;
  padding: 0 6rem;
}
.today-deal .space-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-top: 4rem;
}
.today-deal .space-title .title {
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  font-size: 20px;
  line-height: 28px;
}
.today-deal .space-title .see-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(53, 197, 240);
}

.today-deal .item-slick .item-container-wrap {
  position: relative;
}
.today-deal .item-slick .item-container-wrap .item-container-area {
  position: relative;
  z-index: 0;
}
.today-deal .item-slick .item-container {
  display: flex;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}
.today-deal .item-slick .item-container .item-area {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: calc((100% - 60px) / 4);
}

.today-deal .item-slick .item-box .img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.today-deal .item-slick .item-box .img-info {
  margin-top: 9px;
}
.today-deal .item-slick .item-box .img .time {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 7px;
  font-size: 13px;
  line-height: 15px;
  background-color: #f77;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
}
.today-deal .item-slick .item-box .img a {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.today-deal .item-slick .item-box .img img {
  transition: transform 0.2s ease 0s;
}
.today-deal .item-slick .item-box .img img:hover {
  transform: scale(1.05);
}

.today-deal .item-slick .item-box .img-info .img-title {
  font-size: 11px;
  color: #828c94;
  margin-top: 9px;
}
.today-deal .item-slick .item-box .img-info .img-int {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  max-height: 34px;
  color: #424242;
}
.today-deal .item-slick .item-box .img-info .item-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
  margin-top: 2px;
}
.today-deal .item-slick .item-box .img-info .item-price .discount {
  color: #35c5f0;
  margin-right: 4px;
}
.today-deal .item-slick .item-box .img-info .item-price .price {
  color: #000;
  margin-right: 4px;
}
.today-deal .item-slick .item-box .img-info .review {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 12px;
  color: #9e9e9e;
  line-height: 16px;
  font-weight: 700;
  position: relative;
}
.today-deal .item-slick .item-box .img-info .review img {
  width: 1.1em;
  height: 1.1em;
  margin-right: 1px;
  position: relative;
  top: -2px;
}
.today-deal .item-slick .item-box .img-info .review .score {
  margin-right: 2px;
  color: #424242;
  font-weight: 700;
}
.today-deal .item-slick .item-box .img-info .review span {
  font-weight: 700;
}
.today-deal .item-slick .item-box .img-info .special-price {
  margin-top: 0.6rem;
  display: flex;
}
.today-deal .item-slick .item-box .img-info .special-price .special-btn {
  margin-right: 0.4rem;
  background-color: #f77;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  color: #fff;
}
.today-deal .item-slick .item-box .img-info .special-price .free-btn {
  margin-right: 0.4rem;
  background-color: #e7e7e7;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  color: #6e6e6e;
}
.today-deal .item-slick .item-box .img-info .pay-dst {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  line-height: 1.6rem;
  letter-spacing: -0.03rem;
  border-radius: 0.4rem;
  margin-top: 0.6rem;
  color: rgb(47, 52, 56);
  border: 1px solid rgb(234, 237, 239);
}
.today-deal .item-slick .item-box .img-info .pay-dst img {
  width: 1.1rem;
  margin-right: 0.5rem;
}
.today-deal .item-slick .item-box .img-info .pay-dst span {
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;
}
.today-deal .item-slick .item-container .more-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 0 0;
  padding: 0;
  height: 40rem;
}
.today-deal .item-slick .item-container .more-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: rgb(47, 52, 56);
  font-weight: 500;
  padding: 0.6rem 1.6rem;
}
.today-deal .item-slick .more-btn .arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(234, 237, 239);
  margin-bottom: 6px;
  position: relative;
}
.today-deal .item-slick .more-btn .arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.today-deal .item-slick .more-btn span {
  font-size: 1.4rem;
  line-height: 2rem;
}
/* .today-deal .item-slick .arrow-slider {
  position: absolute;
  width: 100%;
  top: 40%;
} */
.today-deal .item-slick .arrow-slider i {
  font-size: 2.4rem;
  color: #2f3438;
  line-height: 1;
}
.today-deal .item-slick .arrow-slider .prev {
  display: flex;
  position: absolute;
  left: -2rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.today-deal .item-slick .arrow-slider .next {
  display: flex;
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  right: -2rem;
}
.today-deal .item-slick button {
  display: none;
}
@media screen and (max-width: 1024px) {
  .today-deal {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .today-deal {
    padding: 0 1.6rem 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .today-deal .space-title {
    margin-top: 0;
  }
  .today-deal .item-slick .item-container {
    display: flex;
    flex-direction: column;
  }
  .today-deal .item-slick .item-container .item-area {
    width: 100%;
    padding: 1.6rem 0;
    border-bottom: 1px solid rgb(247, 249, 250);
    margin: 0 0;
  }
  .today-deal .item-slick .item-container .item-area:nth-of-type(n + 5) {
    display: none;
  }
  .today-deal .item-slick .item-container .item-area:nth-of-type(1) {
    padding-top: 0;
  }
  .today-deal .item-slick .item-container .item-area .item-box {
    display: flex;
    align-items: center;
  }
  .today-deal .item-slick .item-container .item-area .item-box .img {
    flex: 0 0 48%;
    width: 48%;
  }
  .today-deal .item-slick .item-container .item-area .item-box .img-info {
    margin-left: 1.2rem;
    margin-top: 0;
  }
  .today-deal
    .item-slick
    .item-container
    .item-area
    .item-box
    .img-info
    .img-int {
    font-size: 1.4rem;
  }

  .arrow-slider {
    display: none;
  }
  .today-deal .item-slick .item-container .more-btn-area {
    display: none;
  }
  .today-deal button {
    display: inline-block;

    margin: 2rem 0 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 4.4rem;
    border-radius: 4px;
    padding: 0px 1.6rem;
    font-weight: 400;
    color: rgb(47, 52, 56);
    border: 1px solid rgb(218, 221, 224);
    width: 100%;
  }
}
/* interior-pic */
.interior-pic {
  max-width: 1256px;
  margin: 4rem auto;
  padding: 0 6rem;
}
.interior-pic .space-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-top: 4rem;
}
.interior-pic .space-title .title {
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  font-size: 20px;
  line-height: 28px;
}
.interior-pic .space-title .sub-title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: rgb(47, 52, 56);
  letter-spacing: -0.03rem;
}
.interior-pic .space-title .see-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(53, 197, 240);
}
.interior-pic .interior-slick {
  position: relative;
}
.interior-pic .interior-slick .interior-img {
  display: flex;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.interior-pic .interior-slick .interior-img .img-area {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: calc((100% - 100px) / 6);
}
.interior-pic .interior-slick .interior-img .img-area .img-box {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0px;
  flex-flow: column;
}
.interior-pic .interior-slick .interior-img .img-area .img-box .img-item {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
.interior-pic
  .interior-slick
  .interior-img
  .img-area
  .img-box
  .img-item::before {
  content: "";
  display: block;
  padding-top: 133.333%;
}

.interior-pic .interior-slick .interior-img .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.2s ease 0s;
}

.interior-pic .interior-slick .interior-img .img-area img:hover {
  transform: scale(1.05);
}

.interior-pic
  .interior-slick
  .interior-img
  .img-area
  .img-box
  .img-item
  .pro-area {
  display: flex;
  position: absolute;
  padding: 8px;
  font-size: 0px;
  z-index: 1;
  left: 0px;
  bottom: 0px;
  align-items: center;
}
.interior-pic .interior-slick .interior-img .img-area .pro-area .pro-img {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  margin-right: 4px;
}
.interior-pic .interior-slick .interior-img .img-area .pro-area .pro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interior-pic .interior-slick .interior-img .img-area .pro-area span {
  overflow: hidden;
  display: inline-block;
  max-width: 100px;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.interior-pic .interior-slick .interior-img .img-area .btn-area {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1;
}
.interior-pic .interior-slick .interior-img .img-area .img-btn {
  position: absolute;
  font-size: 0px;
  z-index: 1;
  right: 8px;
  bottom: 8px;
  width: 2.4rem;
  height: 2.4rem;
}
.interior-pic .interior-slick .arrow-slider {
  position: absolute;
  width: 100%;
  top: 30%;
}
.interior-pic .interior-slick .arrow-slider i {
  font-size: 2.4rem;
  color: #2f3438;
  line-height: 1;
}
.interior-pic .interior-slick .arrow-slider .prev {
  display: flex;
  position: absolute;
  left: -2rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.interior-pic .interior-slick .arrow-slider .next {
  display: flex;
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  right: -2rem;
}

.interior-pic .interior-slick .interior-img .img-area .more-btn {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;

  color: rgb(47, 52, 56);
  font-weight: 500;
  padding: 0.6rem 1.6rem;
}

.interior-pic .interior-slick .interior-img .img-area .more-btn .arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(234, 237, 239);
  margin-bottom: 6px;
  position: relative;
}
.interior-pic .interior-slick .interior-img .img-area .more-btn .arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.interior-pic .interior-slick .interior-img .img-area .more-btn span {
  font-size: 1.4rem;
  line-height: 2rem;
}
@media screen and (max-width: 1024px) {
  .interior-pic {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .interior-pic {
    padding: 0 1.6rem 2rem;
    margin: 0;
  }
  .interior-pic .space-title {
    margin-top: 0;
  }
  .interior-pic .space-title .arrow-btn {
    display: block;
  }
  .interior-pic .interior-slick .interior-img .img-area {
    margin-right: 1.2rem;
    width: calc((100% - 24px) / 2.4);
  }
  .interior-pic .interior-slick .interior-img .img-area .img-box {
    width: 100%;
  }
}
/* review-content */
.review-content {
  max-width: 1256px;
  margin: 4rem auto;
  padding: 0 6rem;
}
.review-content .space-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-top: 4rem;
}
.review-content .space-title .title {
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  font-size: 20px;
  line-height: 28px;
}
.review-content .space-title .see-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(53, 197, 240);
}
.review-content .review-area {
  display: flex;
  gap: 2rem;
}
.review-content .review-area .review-list {
  width: 33.33%;
}
.review-content .review-area .review-list .img-area {
  border-radius: 0.4rem;
  overflow: hidden;
  position: relative;
}
.review-content .review-area .review-list .img-area::before {
  content: "";
  display: block;
  padding-top: 66.6667%;
}
.review-content .review-area .review-list .img-area img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 0.2s ease 0s;
}
.review-content .review-area .review-list .img-area img:hover {
  transform: scale(1.05);
}

.review-content .review-area .review-list .list-title {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
}
.review-content .review-area .review-list .content {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.review-content button {
  display: none;
}
@media screen and (max-width: 1024px) {
  .review-content {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .review-content {
    margin: 0;
    padding: 0 1.6rem 2rem;
  }
  .review-content .space-title {
    margin-top: 0;
  }
  .review-content .review-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6rem;
  }
  .review-content .review-area .review-list .img-area {
    flex: 0 0 12rem;
  }
  .review-content .review-area .review-list .img-area::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .review-content .review-area .review-list .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.2s ease 0s;
  }
  .review-content .review-area .review-list {
    display: flex;
    width: 100%;
  }
  .review-content .review-area .review-list .img-int {
    margin-left: 1.2rem;
  }
  .review-content .review-area .review-list .img-int .list-title {
    margin-top: 0;
  }
  .review-content button {
    display: block;

    margin: 2rem 0 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 4.4rem;
    border-radius: 4px;
    padding: 0px 1.6rem;
    font-weight: 400;
    color: rgb(47, 52, 56);
    border: 1px solid rgb(218, 221, 224);
    width: 100%;
  }
}
/* exhibition-content */
.exhibition-content {
  max-width: 1256px;
  margin: 4rem auto;
  padding: 0 6rem;
  box-sizing: border-box;
}
.exhibition-content .space-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-top: 4rem;
}
.exhibition-content .space-title .title {
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  font-size: 20px;
  line-height: 28px;
}
.exhibition-content .space-title .see-more {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(53, 197, 240);
}
.exhibition-content .exh-area {
  display: flex;
  overflow: hidden;
}
.exhibition-content .exhibition-slick {
  position: relative;
}
.exhibition-content .exhibition-slick .exh-wrap {
  position: relative;
}
.exhibition-content .exhibition-slick .exh-wrap .exh-box {
  position: relative;
  z-index: 0;
}
.exhibition-content .exh-area .exh-list {
  margin-right: 2rem;
  width: calc((100% - 48px) / 4);
  overflow: hidden;
}
.exhibition-content .exh-area .exh-list .list-wrap {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0px;
  flex-flow: column;
}
.exhibition-content .exh-area .exh-list .img-area {
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
}
.exhibition-content .exh-area .exh-list .img-area::before {
  content: "";
  display: block;
  padding-top: 66.6667%;
}
.exhibition-content .exh-area .exh-list .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.2s ease 0s;
}
.exhibition-content .exh-area .exh-list .img-area img:hover {
  transform: scale(1.05);
}
.exhibition-content .exh-area .exh-list .sub-title {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgb(47, 52, 56);
  word-break: keep-all;
}
.exhibition-content .exh-area .exh-list .title {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: rgb(47, 52, 56);
  word-break: keep-all;
}
.exhibition-content .exh-area .exh-list:nth-of-type(6) {
  height: 23rem;
  display: flex;
  justify-content: center;
}
.exhibition-content .exh-area .exh-list .more-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(47, 52, 56);
  font-weight: 500;
  padding: 0.6rem 1.6rem;
}

.exhibition-content .exh-area .exh-list .more-btn .arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(234, 237, 239);
  margin-bottom: 6px;
  position: relative;
}
.exhibition-content .exh-area .exh-list .more-btn .arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exhibition-content .exh-area .exh-list .more-btn span {
  font-size: 1.4rem;
  line-height: 2rem;
}
.exhibition-content .exhibition-slick .arrow-slider {
  position: absolute;
  width: 100%;
  top: 30%;
}
.exhibition-content .exhibition-slick .arrow-slider i {
  font-size: 2.4rem;
  color: #2f3438;
  line-height: 1;
}
.exhibition-content .exhibition-slick .arrow-slider .prev {
  display: flex;
  position: absolute;
  left: -2rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.exhibition-content .exhibition-slick .arrow-slider .next {
  display: flex;
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  right: -2rem;
}
.exhibition-content .exhibition-slick .exh-area button {
  display: none;
}
@media screen and (max-width: 1024px) {
  .exhibition-content {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .exhibition-content {
    padding: 0 1.6rem 2rem;
    margin: 0;
  }
  .exhibition-content .space-title {
    margin-top: 0;
  }
  .exhibition-content .exh-area {
    flex-direction: column;
    gap: 1.6rem;
  }
  .exhibition-content .exh-area .exh-list {
    display: flex;
    width: 100%;
    margin-right: 0;
  }
  .exhibition-content .exh-area .exh-list:nth-of-type(6) {
    display: none;
  }
  .exhibition-content .exh-area .exh-list .img-int {
    margin-left: 1.2rem;
  }
  .exhibition-content .exh-area .exh-list .img-int .sub-title {
    margin-top: 0;
  }
  .exhibition-content .exh-area .exh-list .img-area {
    flex: 0 0 12rem;
  }
  .exhibition-content .exh-area .exh-list .img-area::before {
    content: "";
    display: block;
    padding-top: 66.6667%;
  }
  .exhibition-content .exh-area .exh-list .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.2s ease 0s;
  }
  .exhibition-content .exhibition-slick .exh-area button {
    display: block;
    margin: 2rem 0 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 4.4rem;
    border-radius: 4px;
    padding: 0px 1.6rem;
    font-weight: 400;
    color: rgb(47, 52, 56);
    border: 1px solid rgb(218, 221, 224);
    width: 100%;
  }
}
/* best-content */
.best-content {
  max-width: 1256px;
  margin: 4rem auto;
  padding: 0 6rem;
}
.best-content .space-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-top: 4rem;
}
.best-content .space-title .title {
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  font-size: 20px;
  line-height: 28px;
}
.best-content .space-title .see-more {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(53, 197, 240);
}
.best-content .best-container .category-area .cate-list {
  display: flex;
  margin-bottom: 1.6rem;
  overflow: hidden;
}
.best-content .best-container .category-area .cate-list::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: -5px;
  background: linear-gradient(90deg, #ffffff00, #fff);
  width: 15rem;
  height: 100%;
}

.best-content .best-container .category-area .cate-list li {
  margin-right: 0.6rem;
  padding: 0px;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.best-content .best-container .category-area .cate-list li label {
  display: inline-block;
  position: relative;
  height: 3.2rem;
  border-radius: 1.6rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  line-height: 0;
  color: rgb(47, 52, 56);
  background-color: rgb(247, 249, 250);

  cursor: pointer;
}
.best-content .best-container .category-area .cate-list li label::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.best-content .best-container .category-area .cate-list li label input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  opacity: 0;
}
.best-content .best-container .category-area .cate-list li label span {
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  white-space: nowrap;
  cursor: inherit;
}
input[type="checkbox"] {
  display: none;
}
.best-content
  .best-container
  .category-area
  .cate-list
  li:nth-of-type(1)
  label {
  color: rgb(255, 255, 255);
  background-color: rgb(53, 197, 240);
}
.best-content .best-container .category-area {
  position: relative;
}
.best-content .best-container .category-area .arrow-slider {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.best-content .best-container .prev i {
  font-size: 2.4rem;
  color: #2f3438;
  line-height: 1;
}
.best-content .best-container .next i {
  font-size: 2.4rem;
  color: #2f3438;
  line-height: 1;
}
.best-content .best-container .prev {
  display: flex;
  position: absolute;
  left: -2rem;
  top: -1rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.best-content .best-container .next {
  display: flex;
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(63, 71, 77, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  right: -2rem;
  top: -1rem;
}
.best-content .best-container .best-area {
  display: flex;
  width: 100%;
  gap: 1.6rem;
}
.best-content .best-container .item-area {
  width: calc((100% - 3.2rem) / 3);
}

.best-content .best-container .item-box .image {
  position: relative;
  background-color: #f5f5f5;
  padding-bottom: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.best-content .best-container .item-box .image img {
  position: absolute;

  width: 100%;

  transition: transform 0.2s;
}
.best-content .best-container .item-box .image img:hover {
  transform: scale(1.05);
}

.best-content .best-container .item-box .img-info {
  margin-top: 9px;
}

.best-content .best-container .best-area .item-area .item-box .img {
  position: relative;
}

.best-content .best-container .best-area .item-area .item-box .img a {
  position: absolute;
  top: -4px;
  left: 1rem;
  text-align: center;
  width: 3.4rem;
  height: 3.4rem;
  background-image: url(../../assets/image/best-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.best-content .best-container .best-area .item-area .item-box .img a span {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
}
.best-content .best-container .item-box .img button {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.best-content .best-container .item-box .img-info .img-title {
  font-size: 11px;
  color: #828c94;
  margin-top: 9px;
}
.best-content .best-container .item-box .img-info .img-int {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  max-height: 34px;
  color: #424242;
}
.best-content .best-container .item-box .img-info .item-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
  margin-top: 2px;
}
.best-content .best-container .item-box .img-info .item-price .discount {
  color: #35c5f0;
  margin-right: 4px;
}
.best-content .best-container .item-box .img-info .item-price .price {
  color: #000;
  margin-right: 4px;
}
.best-content .best-container .item-box .img-info .review {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 12px;
  color: #9e9e9e;
  line-height: 16px;
  font-weight: 700;
  position: relative;
}
.best-content .best-container .item-box .img-info .review img {
  width: 1.1em;
  height: 1.1em;
  margin-right: 1px;
  position: relative;
  top: -2px;
}
.best-content .best-container .item-box .img-info .review .score {
  margin-right: 2px;
  color: #424242;
  font-weight: 700;
}
.best-content .best-container .item-box .img-info .review span {
  font-weight: 700;
}
.best-content .best-container .item-box .img-info .special-price {
  margin-top: 0.6rem;
  display: flex;
}
.best-content .best-container .item-box .img-info .special-price .free-btn {
  margin-right: 0.4rem;
  background-color: #e7e7e7;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  color: #6e6e6e;
}
.best-content .best-container .item-box .img-info .special-price .special-btn {
  margin-right: 0.4rem;
  background-color: #f77;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .best-content {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .best-content {
    padding: 0 1.6rem 2rem;
    margin: 0;
  }
  .best-content .space-title {
    margin-top: 0;
  }
  .best-content .best-container .best-area {
    gap: 1.2rem;
  }
  .best-content .best-container .item-box {
    margin-right: 0;
  }
  .best-content .best-container .item-box .img-info .img-int {
    max-height: 34px;
    margin-top: 5px;
    word-break: break-all;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #000;
    transition: opacity 0.1s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
}
.popular-search {
  display: none;
}
@media screen and (max-width: 767px) {
  .popular-search {
    display: inline-block;
    padding: 0 1.6rem 2rem;
    width: 100%;
  }
  .popular-search .space-title {
    font-size: 2rem;
    width: 100%;
    padding: 2rem 0;
    line-height: 28px;
    font-weight: 700;
    color: rgb(47, 52, 56);
  }
  .popular-search .search-area {
    display: grid;
    margin: 0px 4px;
    grid-template-columns: repeat(2, 1fr);
  }
  .popular-search .search-area .search-box {
    margin: 0.8rem 1.2rem;
    display: flex;
    align-items: center;
  }
  .popular-search .search-area .search-box .num {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    color: rgb(47, 52, 56);
    text-align: center;
    margin-right: 2px;
    min-width: 20px;
  }
  .popular-search .search-area .search-box .ic-area {
    display: flex;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    margin-right: 0.6rem;
    position: relative;
  }
  .popular-search .search-area .search-box .ic-area i {
    display: block;
    width: 100%;
    height: auto;
    color: rgb(240, 86, 86);
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .popular-search .search-area .search-box .ic-area .new {
    display: block;
    width: 100%;
    height: auto;
    color: rgb(240, 86, 86);
    font-size: 1.3rem;
  }
  .popular-search .search-area .search-box p {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    flex: 1 0 auto;
    font-style: normal;
    font-weight: 400;
    color: rgb(47, 52, 56);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 104px;
  }
}
/* footer */
footer {
  background-color: rgb(247, 249, 250);
  margin-top: 4rem;
}
.footer-content {
  max-width: 1256px;
  margin: auto;
  display: flex;
  padding: 4rem 6rem;
  font-family: "noto-sans-kr";
}
.footer-content .center-area {
  padding-right: 3rem;
  border-right: 1px solid rgb(234, 237, 239);
  flex: 1;
}
.footer-content .center-area .callnumber:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.footer-content .center-area .center-title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-content .center-area .center-title a {
  font-size: 1.8rem;
}
.footer-content .center-area .center-title a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.footer-content .center-area a {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 0.6rem;
}
.footer-content .center-area span {
  font-size: 1.4rem;
}
.footer-content .center-area p {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
}
.footer-content .center-area button {
  display: block;
  font-size: 1.4rem;
  border: 1px solid rgb(218, 221, 224);
  padding: 0.8rem;
  border-radius: 0.4rem;
}
.footer-content .center-area button:nth-of-type(1) {
  margin-bottom: 1.2rem;
}
.footer-content .center-area button:nth-of-type(2):hover {
  text-decoration: underline;
}
.footer-content .information-area1 {
  display: flex;
  flex: 1;
  font-size: 1.2rem;
  color: rgb(47, 52, 56);
}

.footer-content .information-area1 .area1-1 {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(6, min-content);
  gap: 2rem 1rem;
  padding: 0 30px;
  border-right: 1px solid rgb(234, 237, 239);
}

.footer-content .information-area1 .area1-1 a:hover {
  text-decoration: underline;
}
.footer-content .information-area1 .area1-1 a:nth-of-type(4) {
  font-weight: 600;
}

.footer-content .information-area2 {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  flex: 2;
  color: rgb(130, 140, 148);
}
.footer-content .information-area2 .list-area {
  display: none;
}
.footer-content .information-area2 ul {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  line-height: 1.8;
}
.footer-content .information-area2 ul li {
  float: left;
  text-align: center;
}
.footer-content .information-area2 ul li::after {
  content: "";
  display: inline-block;
  background-color: rgb(130, 140, 148);
  height: 0.8rem;
  width: 0.1rem;
  margin: 0 0.4rem;
}
.footer-content .information-area2 ul li:nth-of-type(3)::after,
.footer-content .information-area2 ul li:nth-of-type(6)::after,
.footer-content .information-area2 ul li:nth-of-type(7)::after {
  display: none;
}
.footer-content .information-area2 ul li:nth-of-type(6) {
  font-weight: 600;
}
.footer-content .information-area2 ul li:nth-of-type(4):hover,
.footer-content .information-area2 ul li:nth-of-type(6):hover {
  text-decoration: underline;
}
.footer-content .information-area2 .service-area {
  display: flex;
}
.footer-content .information-area2 .service-area .service-1 {
  display: flex;
  justify-content: center;
}

.footer-content .information-area2 .service-area .service-1 img {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.6rem;
}
.footer-content .information-area2 .service-area .service-2 {
  display: flex;
  justify-content: center;
  padding-left: 1.6rem;
  flex: 2;
}

.footer-content .information-area2 .service-area .service-2 span {
  font-weight: 600;
}
.footer-content .information-area2 .service-area .service-2 img {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.6rem;
}
.footer-content .information-area2 .service-3 {
  font-size: 1rem;
  margin: 1.2rem 0;
}
.footer-content .information-area2 .information-area2-icons {
  display: flex;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}
.footer-content .information-area2 .information-area2-icons a {
  margin-right: 2rem;
  color: rgb(130, 140, 148);
}
.footer-content .information-area2 .information-area2-icons a:hover {
  color: gray;
}
@media screen and (max-width: 1200px) {
  .footer-content .center-area {
    padding-right: 10px;
  }
  .footer-content .information-area1 .area1-1 {
    padding: 0 10px;
  }

  .footer-content .information-area2 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .header-container .header-content {
    padding: 2rem 4rem;
  }
  .footer-content {
    flex-wrap: wrap;
    padding: 4rem;
  }
  .footer-content .center-area {
    flex-basis: 50%;
  }
  .footer-content .information-area1 {
    flex-basis: 50%;
    align-items: center;
  }
  .footer-content .information-area1 .area1-1 {
    width: 50%;
    padding: 0 0 0 3rem;
    border-right: 0;
  }
  .footer-content .information-area1 .area1-1 a:nth-of-type(6) {
    padding-bottom: 0;
  }

  .footer-content .information-area2 {
    padding: 3rem 0 0 0;
    border-top: 1px solid rgb(234, 237, 239);
    margin-top: 3rem;
  }
  .footer-content .information-area2 .service-area .service-2 {
    justify-content: flex-start;
    align-items: center;
  }
  .header-container .header-content .header-area2 .input-area input {
    display: none;
  }
  .header-container .header-content .header-area2 .input-area {
    border: none;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: row-reverse;
    width: 30px;
  }
  .header-container .header-content .header-area2 .input-area button {
    width: 100%;
  }
  .header-container .header-content .header-area2 .cart-area i {
    padding-left: 5px;
  }
}
@media screen and (max-width: 768px) {
  .header-container .header-content .header-area1 {
    display: none;
  }
  .header-container .header-content .header-area2 {
    margin-left: 0px;
  }
  .header-container .header-content .header-area2 .login-area {
    display: none;
  }
  .header-container .header-content .header-area2 .writing-button {
    display: none;
  }
  .header-container .header-content i {
    font-size: 2.4rem;
  }
  .header-container .header-content .bar {
    display: block;

    color: #2f3438;
  }
  .header-container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1.6rem;
  }
  .header-container .header-content .logo {
    margin-right: 0px;
  }
  .footer-content {
    padding: 3rem 1.6rem;
    flex-direction: column;
  }
  .footer-content .center-area {
    padding-bottom: 2rem;
    padding-right: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(234, 237, 239);
  }
  .footer-content .center-area .center-title h2 {
    font-size: 1.8rem;
  }
  .footer-content .center-area button {
    display: inline;
  }
  .footer-content .center-area button:nth-of-type(1) {
    margin-right: 1.2rem;
  }
  .footer-content .information-area1 {
    flex-direction: column;
    padding-top: 2rem;
    align-items: flex-start;
  }
  .footer-content .information-area1 .area1-1 {
    display: inline-block;
    flex-direction: row;
    padding: 0;
    width: 100%;
  }
  .footer-content .information-area1 .area1-1 a {
    display: inline-block;
    padding: 0;
    margin: 8px 12px 8px 0;
  }
  .footer-content .information-area2 .list-area {
    display: flex;
    flex-direction: column;
  }
  .footer-content .information-area2 .list-area .list-area-title {
    display: flex;
    font-size: 1.2rem;
    font-weight: 800;
    color: rgb(47, 52, 56);
  }
  .footer-content .information-area2 .list-area .list-area-content {
    font-size: 1.2rem;
    color: rgb(130, 140, 148);
    margin-top: 1.2rem;
  }
  .footer-content .information-area2 .list-area .list-area-content span {
    font-weight: 700;
  }
  .footer-content .information-area2 .service-area .service-1 {
    display: none;
  }
  .footer-content .information-area2 .service-area .service-2 {
    padding-left: 0;
  }
  .footer-content .information-area2 .service-area .service-2 img {
    display: none;
  }
}
