/* header */
.header-container .header-content {
  display: flex;
  align-items: center;
  max-width: 1256px;
  margin: 0 auto;
  padding: 2rem 6rem;
  box-sizing: border-box;
}
.header-container .header-content .bar {
  display: none;
}
.header-content .logo {
  margin-right: 3.5rem;
  width: 7.4rem;
}
.header-content .logo img {
  height: 2.6rem;
}
.header-content .header-area1 {
  display: flex;
}
.header-content .header-area1 a {
  display: block;
  padding: 0 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.header-content .header-area1 a:hover {
  color: #35c5f0;
}
.header-content .header-area2 {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-left: auto;
}
.header-content .header-area2 .input-area {
  display: flex;
  align-items: center;
  width: 30rem;
  height: 4rem;
  font-size: 1.4rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 1rem;
  padding-right: 2rem;
}
.header-content .header-area2 .input-area i {
  font-size: 1.7rem;
  color: #2f3438;
}
.header-content .header-area2 .input-area input {
  padding-left: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: gray;
  border: none;
}
.header-content .header-area2 .cart-area i {
  padding-left: 1.5rem;
  font-size: 1.8rem;
  color: #2f3438;
}

.header-content .header-area2 .login-area {
  display: flex;
  padding: 0 2rem;
}
.header-content .header-area2 .login-area a {
  display: flex;
  align-items: center;
}
.header-content .header-area2 .login-area a::after {
  content: "";
  display: inline-block;
  background-color: #2f3438;
  height: 1rem;
  width: 0.1rem;
  margin: 1rem;
}
.header-content .header-area2 .login-area a:nth-of-type(3)::after {
  display: none;
}

.header-content .header-area2 .writing-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 4rem;
  background-color: #35c5f0;
  border-radius: 5px;
  font-size: 1.4rem;
}
.header-content .header-area2 .writing-button p {
  padding: 0;
  margin-right: 1rem;
  color: white;
}
.header-content .header-area2 .writing-button i {
  color: white;
}

@media screen and (max-width: 1255px) {
  .header-content .header-area2 .login-area a:nth-of-type(3) {
    display: none;
  }
  .header-content .header-area2 .login-area a:nth-of-type(2)::after {
    display: none;
  }
  .header-content .header-area2 .input-area {
    width: 20rem;
  }
  .header-content .header-area1 a {
    padding: 0 1rem;
  }
}
/* nav */
.nav-container {
  width: 100%;
  height: 5rem;
  border-top: 1px solid #eaedef;
  border-bottom: 1px solid #eaedef;
}
.nav-container .nav-content {
  max-width: 1256px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  margin: 0 auto;
  font-family: "noto-sans-kr";
}
.nav-container .nav-content .nav-menu {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.nav-container .nav-content .nav-menu div {
  padding: 1.2rem 1.1rem;
  white-space: nowrap;
}


.nav-container .nav-content .nav-menu div:hover {
  color: #35c5f0;
}
.nav-container .nav-content .nav-search {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}
.nav-container .nav-content .nav-search .ani-container {
  margin-right: 15px;
  align-items: center;
  height: 4rem;
  overflow: hidden;
}
.nav-container .nav-content .nav-search .ani-container .ani-area {
  display: flex;
  align-items: center;
  height: 5rem;
  animation: search 10s infinite;
}
.nav-container .nav-content .nav-search .ani-container .ani-area .num-area {
  position: relative;
  width: 2rem;
  height: 100%;
}
.nav-container .nav-content .nav-search .ani-container .ani-area .num {
  font-size: 1.6rem;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.nav-container .nav-content .nav-search .ani-container .ani-area p {
  font-size: 1.6rem;
  margin-left: 1rem;
  
}
.nav-container .nav-content .nav-search .ani-container .ani-area .ic-area {
  width: 24px;
  height: 100%;
  position: relative;
}
.nav-container .nav-content .nav-search .ani-container .fa-solid.fa-caret-up {
  display: flex;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.nav-container .nav-content .nav-search .ani-container .new {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  position: absolute;
  color: red;
  font-size: 8px;
}
.nav-search .ani-btn {
  color: rgb(130, 140, 148);
}

@keyframes search {
  0% {
    transform: translate3d(0, 0, 0);
  }
  8% {
    transform: translate3d(0, -50px, 0);
  }
  16% {
    transform: translate3d(0, -100px, 0);
  }
  24% {
    transform: translate3d(0, -150px, 0);
  }
  32% {
    transform: translate3d(0, -200px, 0);
  }
  40% {
    transform: translate3d(0, -250px, 0);
  }
  48% {
    transform: translate3d(0, -300px, 0);
  }
  56% {
    transform: translate3d(0, -350px, 0);
  }
  64% {
    transform: translate3d(0, -400px, 0);
  }
  72% {
    transform: translate3d(0, -450px, 0);
  }
  80% {
    transform: translate3d(0, 50px, 0);
  }
  88% {
    transform: translate3d(0, 50px, 0);
  }
  95% {
    transform: translate3d(0, 0px, 0);
  }
}
@media screen and (max-width: 1023px) {
  .nav-container .nav-content {
    padding: 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .nav-container {
    height: 4rem;
  }
  .nav-search .ani-container {
    display: none;
  }
  .nav-search .ani-btn {
    display: none;
  }
  .nav-container .nav-content {
    justify-content: center;
    align-items: center;
  }
  .nav-container .nav-content .nav-menu div {
    padding: 11px 8px;
  }
  .nav-container .nav-content .nav-menu a {
    font-size: 1.4rem;
  }
}

/* footer */
footer {
  background-color: rgb(247, 249, 250);
}
.footer-content {
  max-width: 1256px;
  margin: auto;
  display: flex;
  padding: 4rem 6rem;
  font-family: "noto-sans-kr";
}
.footer-content .center-area {
  padding-right: 3rem;
  border-right: 1px solid rgb(234, 237, 239);
  flex: 1;
}
.footer-content .center-area .callnumber:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.footer-content .center-area .center-title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-content .center-area .center-title a {
  font-size: 1.8rem;
}
.footer-content .center-area .center-title a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.footer-content .center-area a {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 0.6rem;
}
.footer-content .center-area span {
  font-size: 1.4rem;
}
.footer-content .center-area p {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
}
.footer-content .center-area button {
  display: block;
  font-size: 1.4rem;
  border: 1px solid rgb(218, 221, 224);
  padding: 0.8rem;
  border-radius: 0.4rem;
}
.footer-content .center-area button:nth-of-type(1) {
  margin-bottom: 1.2rem;
}
.footer-content .center-area button:nth-of-type(2):hover {
  text-decoration: underline;
}
.footer-content .information-area1 {
  display: flex;
  flex: 1;
  font-size: 1.2rem;
  color: rgb(47, 52, 56);
}

.footer-content .information-area1 .area1-1 {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(6, min-content);
  gap: 2rem 1rem;
  padding: 0 30px;
  border-right: 1px solid rgb(234, 237, 239);
}

.footer-content .information-area1 .area1-1 a:hover {
  text-decoration: underline;
}
.footer-content .information-area1 .area1-1 a:nth-of-type(4) {
  font-weight: 600;
}

.footer-content .information-area2 {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  flex: 2;
  color: rgb(130, 140, 148);
}
.footer-content .information-area2 .list-area {
  display: none;
}
.footer-content .information-area2 ul {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  line-height: 1.8;
}
.footer-content .information-area2 ul li {
  float: left;
  text-align: center;
}
.footer-content .information-area2 ul li::after {
  content: "";
  display: inline-block;
  background-color: rgb(130, 140, 148);
  height: 0.8rem;
  width: 0.1rem;
  margin: 0 0.4rem;
}
.footer-content .information-area2 ul li:nth-of-type(3)::after,
.footer-content .information-area2 ul li:nth-of-type(6)::after,
.footer-content .information-area2 ul li:nth-of-type(7)::after {
  display: none;
}
.footer-content .information-area2 ul li:nth-of-type(6) {
  font-weight: 600;
}
.footer-content .information-area2 ul li:nth-of-type(4):hover,
.footer-content .information-area2 ul li:nth-of-type(6):hover {
  text-decoration: underline;
}
.footer-content .information-area2 .service-area {
  display: flex;
}
.footer-content .information-area2 .service-area .service-1 {
  display: flex;
  justify-content: center;
}

.footer-content .information-area2 .service-area .service-1 img {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.6rem;
}
.footer-content .information-area2 .service-area .service-2 {
  display: flex;
  justify-content: center;
  padding-left: 1.6rem;
  flex: 2;
}

.footer-content .information-area2 .service-area .service-2 span {
  font-weight: 600;
}
.footer-content .information-area2 .service-area .service-2 img {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.6rem;
}
.footer-content .information-area2 .service-3 {
  font-size: 1rem;
  margin: 1.2rem 0;
}
.footer-content .information-area2 .information-area2-icons {
  display: flex;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}
.footer-content .information-area2 .information-area2-icons a {
  margin-right: 2rem;
  color: rgb(130, 140, 148);
}
.footer-content .information-area2 .information-area2-icons a:hover {
  color: gray;
}
@media screen and (max-width: 1200px) {
  .footer-content .center-area {
    padding-right: 10px;
  }
  .footer-content .information-area1 .area1-1 {
    padding: 0 10px;
  }

  .footer-content .information-area2 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .header-container .header-content {
    padding: 2rem 4rem;
  }
  .footer-content {
    flex-wrap: wrap;
    padding: 4rem;
  }
  .footer-content .center-area {
    flex-basis: 50%;
  }
  .footer-content .information-area1 {
    flex-basis: 50%;
    align-items: center;
  }
  .footer-content .information-area1 .area1-1 {
    width: 50%;
    padding: 0 0 0 3rem;
    border-right: 0;
  }
  .footer-content .information-area1 .area1-1 a:nth-of-type(6) {
    padding-bottom: 0;
  }

  .footer-content .information-area2 {
    padding: 3rem 0 0 0;
    border-top: 1px solid rgb(234, 237, 239);
    margin-top: 3rem;
  }
  .footer-content .information-area2 .service-area .service-2 {
    justify-content: flex-start;
    align-items: center;
  }
  .header-container .header-content .header-area2 .input-area input {
    display: none;
  }
  .header-container .header-content .header-area2 .input-area {
    border: none;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: row-reverse;
    width: 30px;
  }
  .header-container .header-content .header-area2 .input-area button {
    width: 100%;
  }
  .header-container .header-content .header-area2 .cart-area i {
    padding-left: 5px;
  }
}
@media screen and (max-width: 768px) {
  
  .header-container .header-content .header-area1 {
    display: none;
  }
  .header-container .header-content .header-area2 {
    margin-left: 0px;
  }
  .header-container .header-content .header-area2 .login-area {
    display: none;
  }
  .header-container .header-content .header-area2 .writing-button {
    display: none;
  }
  .header-container .header-content i {
    font-size: 2.4rem;
  }
  .header-container .header-content .bar {
    display: block;

    color: #2f3438;
  }
  .header-container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1.6rem;
  }
  .header-container .header-content .logo {
    margin-right: 0px;
  }
  .footer-content {
    padding: 3rem 1.6rem;
    flex-direction: column;
  }
  .footer-content .center-area {
    padding-bottom: 2rem;
    padding-right: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(234, 237, 239);
  }
  .footer-content .center-area .center-title h2 {
    font-size: 1.8rem;
  }
  .footer-content .center-area button {
    display: inline;
  }
  .footer-content .center-area button:nth-of-type(1) {
    margin-right: 1.2rem;
  }
  .footer-content .information-area1 {
    flex-direction: column;
    padding-top: 2rem;
    align-items: flex-start;
  }
  .footer-content .information-area1 .area1-1 {
    display: inline-block;
    flex-direction: row;
    padding: 0;
    width: 100%;
  }
  .footer-content .information-area1 .area1-1 a {
    display: inline-block;
    padding: 0;
    margin: 8px 12px 8px 0;
  }
  .footer-content .information-area2 .list-area {
    display: flex;
    flex-direction: column;
    
  }
  .footer-content .information-area2 .list-area .list-area-title {
    display: flex;
    font-size: 1.2rem;
    font-weight: 800;
    color: rgb(47, 52, 56);
  }
  .footer-content .information-area2 .list-area .list-area-content {
    font-size: 1.2rem;
    color: rgb(130, 140, 148);
    margin-top: 1.2rem;
  }
  .footer-content .information-area2 .list-area .list-area-content span {
    font-weight: 700;
  }
  .footer-content .information-area2 .service-area .service-1 {
    display: none;
  }
  .footer-content .information-area2 .service-area .service-2 {
    padding-left: 0;
  }
  .footer-content .information-area2 .service-area .service-2 img {
    display: none;
  }
}

